* {
    box-sizing: border-box;
    font-family: "Caesar Dressing", system-ui;
}
@media (min-width: 600px) {
    .column {
      width: 50%;
    }
}



body {
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.pinimg.com/736x/68/f8/68/68f868ec06f37f2aa4c9e9e19b819726.jpg");
    background-size: cover;
}

h1 {
    color: rgb(255, 60, 60);;
    font-size: 10vmin;
    
}

button {
    margin: 10vmin;
    padding: 4vmin;
    font-size: 5vmin;
    border-radius: 80%;
    border: 0.5vmin solid rgb(0, 0, 0);
    color: rgb(14, 15, 14);
    align-items: center;
    text-align: center;
    font-family: "Caesar Dressing", system-ui;
    box-shadow: 0 0 10px 10px rgba(2, 2, 22, 0.4) inset;
    background-color: rgb(255, 60, 60);
}
.objects {
    word-spacing: 20vmin;
    font-size: 20vmin;
    font-family: "Caesar Dressing", system-ui;
    text-align: center;

}
.objects {
    background: #fafafa ;
    box-shadow: 0 0 10px 10px rgba(2, 2, 22, 0.4) inset;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: transparent rgb(12, 12, 11) 60px;
    border-radius: 70px;
    align-content: center;
}
#slot-machine {
    align-items: center;
    text-align: center;
}
  .message {
    font-size: 80px;
    color: rgb(255, 60, 60);;
}
.lever {
    text-align: right;
}

  
  