* {
    box-sizing: border-box;
}

body {
    
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 169, 121);
}

h1 {
    color: rgb(12, 11, 11);
    font-size: 10vmin;
    margin-bottom: 30vmin;
    font-family: "Caesar Dressing", system-ui;
    text-align: center;
    text-align: center;
}
#button {
    margin-top: 15vmin;
    padding: 4vmin;
    font-size: 10vmin;
    border-radius: 10%;
    border: 1vmin solid gray;
    color: rgb(76, 80, 76);
    align-items: center;
    text-align: center;
}
.objects {
    word-spacing: 20vmin;
    font-size: 10vmin;
    font-family: "Caesar Dressing", system-ui;
    align-items: center;
}
#slot-machine {
    align-items: center;
    text-align: center;
}

    